

<h2> Create a new Task! </h2>


<form action = "/tasks/new" method = "POST">
  <label> Task Name: </label><br>
  <input type = 'text' name = 'name' id = 'name'><br>
  <br>
  <label> Task Summary: </label><br>
  <textarea name = 'summary' id = 'summary'></textarea><br>
  <br><br>
  <%@categories.each do |cgory|%>
    <ul>
      <li><input type = 'checkbox' id = '<%=cgory.name%>' name = "task[cgory_ids][]" value = "<%=cgory.id%>"><%=cgory.name%></input></li>
    </ul>
  <%end%>
  <br>
  <label>Create a new Category for your Task:</label>
  <input type = 'text' name = 'category[name]' id = 'category_name'>
` <input type = 'submit' value = "Submit Task">`

  </form>
