<h2> Create a new Task! </h2>

<form action = "/tasks/new" method = "POST">
  <label> Task Name: </label>
  <input type = 'text' name = 'name' id = 'name'><br>
  <label> Task Summary: </label>
  <input type = 'text-area' name = 'summary' id = 'summary'><br>
  <input type = 'submit' value = "Submit Task">
</form>
