
<h2>Welcome to This Week...</h2>


<h5> This Week... is your handy online organizer for your upcoming schedule. </h5>
<h5> You can separate your tasks into different categories in order to be able to filter accordingly.</h5>
