<h2> Log In to This Week...  </h2>


<form action = "/signup" method = "POST">
  <label>Username: </label>
  <input type = 'text' name = 'username' id = 'username'> <br>
  <label> Password: </label>
  <input type = 'text' name = 'password' id = 'password'> <br>
  <input type = 'submit' value = "Log In">
</form>
